vendor
.env
.env.development
.env.prod
.idea
tmp
main
main.exe


!private/documents

json_google/*
public/uploads/*
public/uploads/routes.json
!public/uploads/logo.jpg
!public/uploads/items
!public/uploads/users
!public/uploads/banners
!public/uploads/vendors
!public/uploads/categories

public/schemas/*

cmd/test_utils/test.png

./*/**/.DS_Store
notes.md
